In [1]:
import pandas as pd
import numpy as np

In [14]:
reviews_df = pd.read_csv('reviews.csv')

In [15]:
reviews_df.head()

,Unnamed: 0,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,num-attr,User 1,User 2
0,doc1,1,0,1,0,1,1,0,0,0,1,5,1.0,-1.0
1,doc2,0,1,1,1,0,0,0,1,0,0,4,-1.0,1.0
2,doc3,0,0,0,1,1,1,0,0,0,0,3,NaN,NaN
3,doc4,0,0,1,1,0,0,1,1,0,0,4,NaN,1.0
4,doc5,0,1,0,0,0,0,0,0,1,1,3,NaN,NaN

In [16]:
reviews_df = reviews_df.fillna(0)

In [17]:
reviews_df.head()

,Unnamed: 0,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,num-attr,User 1,User 2
0,doc1,1,0,1,0,1,1,0,0,0,1,5,1.0,-1.0
1,doc2,0,1,1,1,0,0,0,1,0,0,4,-1.0,1.0
2,doc3,0,0,0,1,1,1,0,0,0,0,3,0.0,0.0
3,doc4,0,0,1,1,0,0,1,1,0,0,4,0.0,1.0
4,doc5,0,1,0,0,0,0,0,0,1,1,3,0.0,0.0

### Part 1

In [49]:
profiles_dot_df = np.dot(reviews_df.loc[:,'baseball':'family'].T,reviews_df.loc[:,'User 1':'User 2' ])

In [51]:
profiles_df= pd.DataFrame(data=profiles_dot_df.T,columns = reviews_df.columns[1:-3]  )

In [53]:
profiles_df['user'] = ['User 1','User 2']

In [54]:
profiles_df

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,user
0,3.0,-2.0,-1.0,0.0,0.0,2.0,-1.0,-1.0,1.0,0.0,User 1
1,-2.0,2.0,2.0,3.0,-1.0,-2.0,0.0,3.0,0.0,-1.0,User 2

#### 1) Which document does the simple profile predict user 1 will like best?
#### 2) What score does that prediction get?

In [75]:
docs_users_rating = np.dot(reviews_df.loc[:,'baseball':'family'],profiles_df.loc[:,'baseball':'family'].T)

In [77]:
docs_users_rating_df = pd.DataFrame(data = docs_users_rating, columns = ['User 1','User 2' ])

In [82]:
docs_users_rating_df['doc'] = reviews_df.iloc[:,0]

In [85]:
docs_users_rating_df.sort_values(by = 'User 1', ascending = False)

    User 1  User 2    doc
15     6.0    -4.0  doc16
0      4.0    -4.0   doc1
11     4.0    -4.0  doc12
8      3.0    -2.0   doc9
5      3.0     1.0   doc6
2      2.0     0.0   doc3
17     1.0     3.0  doc18
14     0.0     4.0  doc15
10     0.0     1.0  doc11
6     -1.0     2.0   doc7
4     -1.0     1.0   doc5
19    -1.0     5.0  doc20
7     -2.0     4.0   doc8
12    -2.0     7.0  doc13
13    -2.0     7.0  doc14
9     -3.0     1.0  doc10
3     -3.0     8.0   doc4
1     -4.0    10.0   doc2
16    -4.0    10.0  doc17
18    -4.0     2.0  doc19

#### How many documents does the model predict User 2 will dislike (prediction score that is negative)?

In [88]:
docs_users_rating_df[docs_users_rating_df['User 2'] < 0].count()

User 1    4
User 2    4
doc       4
dtype: int64

### Part 2

In [97]:
p2_reviews_df = reviews_df.copy()

In [103]:
np.sqrt(p2_reviews_df['num-attr']).head()

0    2.236068
1    2.000000
2    1.732051
3    2.000000
4    1.732051
Name: num-attr, dtype: float64

In [101]:
p2_reviews_df.loc[:,'baseball':'family']= p2_reviews_df.loc[:,'baseball':'family'].div(np.sqrt(p2_reviews_df['num-attr']),axis = 0)

In [102]:
p2_reviews_df

,Unnamed: 0,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,num-attr,User 1,User 2
0,doc1,0.447214,0.000000,0.447214,0.000000,0.447214,0.447214,0.000000,0.000000,0.000000,0.447214,5,1.0,-1.0
1,doc2,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,4,-1.0,1.0
2,doc3,0.000000,0.000000,0.000000,0.577350,0.577350,0.577350,0.000000,0.000000,0.000000,0.000000,3,0.0,0.0
3,doc4,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,4,0.0,1.0
4,doc5,0.000000,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.577350,0.577350,3,0.0,0.0
5,doc6,0.707107,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,1.0,0.0
6,doc7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.707107,2,0.0,0.0
7,doc8,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000,4,0.0,0.0
8,doc9,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.707107,0.000000,2,0.0,0.0
9,doc10,0.000000,0.577350,0.000000,0.000000,0.577350,0.000000,0.577350,0.000000,0.000000,0.000000,3,0.0,0.0
10,doc11,0.000000,0.000000,0.577350,0.000000,0.577350,0.000000,0.000000,0.000000,0.577350,0.000000,3,0.0,0.0
11,doc12,0.577350,0.000000,0.000000,0.000000,0.000000,0.577350,0.577350,0.000000,0.000000,0.000000,3,0.0,-1.0
12,doc13,0.000000,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,4,0.0,0.0
13,doc14,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,4,0.0,0.0
14,doc15,0.000000,0.000000,0.000000,0.500000,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,4,0.0,0.0
15,doc16,0.577350,0.000000,0.000000,0.000000,0.000000,0.577350,0.000000,0.000000,0.577350,0.000000,3,1.0,0.0
16,doc17,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,4,0.0,1.0
17,doc18,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,2,0.0,0.0
18,doc19,0.000000,0.447214,0.447214,0.000000,0.447214,0.000000,0.447214,0.000000,0.000000,0.447214,5,-1.0,0.0
19,doc20,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000,4,0.0,0.0

In [104]:
profiles_dot_norm_df = np.dot(p2_reviews_df.loc[:,'baseball':'family'].T,p2_reviews_df.loc[:,'User 1':'User 2' ])

In [106]:
profiles_norm_df= pd.DataFrame(data=profiles_dot_norm_df.T,columns = p2_reviews_df.columns[1:-3]  )

In [107]:
profiles_norm_df['user'] = ['User 1','User 2']

In [108]:
profiles_norm_df

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,user
0,1.731671,-0.947214,-0.500000,0.207107,0.000000,1.024564,-0.447214,-0.5,0.57735,0.000000,User 1
1,-1.024564,1.000000,1.052786,1.500000,-0.447214,-1.024564,-0.077350,1.5,0.00000,-0.447214,User 2

In [109]:
docs_users_rating_norm = np.dot(p2_reviews_df.loc[:,'baseball':'family'],profiles_norm_df.loc[:,'baseball':'family'].T)

In [110]:
docs_users_rating_norm_df = pd.DataFrame(data = docs_users_rating_norm, columns = ['User 1','User 2' ])

In [113]:
docs_users_rating_norm_df['doc'] = p2_reviews_df.iloc[:,0]

In [114]:
docs_users_rating_norm_df.sort_values(by = 'User 1', ascending = False)

      User 1    User 2    doc
15  1.924646 -1.183064  doc16
5   1.370923  0.336184   doc6
11  1.333114 -1.227723  doc12
8   1.132724 -0.724476   doc9
0   1.009019 -0.845577   doc1
2   0.711105  0.016294   doc3
17  0.554695  1.060660  doc18
14  0.142229  0.949043  doc15
10  0.044658  0.349628  doc11
19 -0.081378  1.237718  doc20
4  -0.213541  0.319151   doc5
13 -0.331378  1.776393  doc14
6  -0.353553  0.744432   doc7
7  -0.370053  1.014111   doc8
12 -0.396447  1.802786  doc13
3  -0.620053  1.987718   doc4
9  -0.805073  0.274493  doc10
18 -0.847214  0.483442  doc19
1  -0.870053  2.526393   doc2
16 -0.870053  2.526393  doc17

### Part 3

In [118]:
p3_reviews_df = p2_reviews_df.copy()

In [125]:
docs_idf = 1/reviews_df.loc[:,'baseball':'family'].sum(axis=0)

In [138]:
docs_idf

baseball     0.250000
economics    0.166667
politics     0.100000
Europe       0.090909
Asia         0.166667
soccer       0.166667
war          0.142857
security     0.166667
shopping     0.142857
family       0.200000
dtype: float64

In [153]:
profiles_norm_df

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,user
0,1.731671,-0.947214,-0.500000,0.207107,0.000000,1.024564,-0.447214,-0.5,0.57735,0.000000,User 1
1,-1.024564,1.000000,1.052786,1.500000,-0.447214,-1.024564,-0.077350,1.5,0.00000,-0.447214,User 2

In [160]:
profiles_norm_idf_df = profiles_norm_df.loc[:,'baseball':'family'].multiply(docs_idf,axis=1) #pdocs_idf,axis=0rofiles_idf_df =

In [161]:
profiles_norm_idf_df

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
0,0.432918,-0.157869,-0.050000,0.018828,0.000000,0.170761,-0.063888,-0.083333,0.082479,0.000000
1,-0.256141,0.166667,0.105279,0.136364,-0.074536,-0.170761,-0.011050,0.250000,0.000000,-0.089443

In [162]:
docs_users_rating_norm_idf = np.dot(p3_reviews_df.loc[:,'baseball':'family'],profiles_norm_idf_df.loc[:,'baseball':'family'].T)

In [163]:
docs_users_rating_norm_idf_df = pd.DataFrame(data = docs_users_rating_norm_idf, columns = ['User 1','User 2' ])

In [164]:
docs_users_rating_norm_idf_df['doc'] = p3_reviews_df.iloc[:,0]

In [165]:
docs_users_rating_norm_idf_df.sort_values(by = 'User 1', ascending = False)

      User 1    User 2    doc
15  0.396153 -0.246472  doc16
5   0.319432 -0.084695   doc6
11  0.311648 -0.252852  doc12
0   0.247612 -0.217167   doc1
8   0.179067 -0.120746   doc9
2   0.109459 -0.062892   doc3
17  0.071635  0.096424  doc18
14  0.021184  0.102276  doc15
10  0.018752  0.017750  doc11
19 -0.006291  0.115296  doc20
4  -0.043527  0.044585   doc5
7  -0.047530  0.070575   doc8
13 -0.053281  0.204154  doc14
12 -0.057253  0.208553  doc13
6  -0.058926  0.113531   doc7
3  -0.089197  0.240296   doc4
18 -0.121533  0.043343  doc19
9  -0.128031  0.046812  doc10
1  -0.136187  0.329154   doc2
16 -0.136187  0.329154  doc17